
<% 6.times do %>

<div class="user_container">
    <div class="boxed img_container"></div>
         <div class=" boxed user_card">
            <h2 class="user_label">username</h2>

            <p class="post_counter">Number of posts: x
         </div>
 
</div>

     <% end %>
