<div class="user_container">
    <div class="boxed img_container"></div>
         <div class=" boxed user_card">
            <h2 class="user_label">username</h2>

            <p class="post_counter">Number of posts: x
         </div>
 </div>
<div class="detail_container">

    <div class="boxed">
        <h1>Bio</h1>
        <p>
        lorem ipsum dolor sit amet, consectetur adip proident, sed diam nonum et just e parturient. Ut enim ad minim veniam, quis nostr one mover. Excepteur
        </p>
    </div>
<% 3.times do%>
    <div class="boxed">
        <h1>post #x</h1>
        <p>
        lorem ipsum dolor sit amet, consectetur adip proident, sed diam nonum et just e parturient. Ut enim ad minim veniam, quis nostr one mover. Excepteur
        </p>
        <p class="comments_likes">Comments: x Likes: y</p>
    </div>
<%end%>
    

<button class="all_post_btn">See all Posts</button>
</div>