<div class="user_container">
    <div class="boxed img_container">
    <img src=<%= user.photo %> alt="profile" class="img_container">
    </div>
         <div class=" boxed user_card" >
           <a href="/users/<%= user.id%>"> <h2 class="user_label"> <%= user.name %></h2></a>

            <p class="post_counter">Number of posts: <%= user.posts_counter%> </p>
         </div>
 
</div>