<div class="posts_show_container">
<div class="boxed">
<div class="posts_info">
<p>Post #1 by Username</P>
<p>Comments: 3 likes: 5</p>
</div>

<p>
lorem id ipsum dolor sit amet consectetur adip proident, sed diam nonum vul tell convallis in mass  lorem id ipsum dolor sit amet   consectetur adip proident, sed diam nonum vul tell convallis in mass  lorem id ipsum dolor sit amet   consectetur adip proident, sed diam nonum vul tell convallis in mass  lorem id ipsum dolor sit amet   consectetur adip proident, sed diam nonum vul tell convallis in mass lorem id ipsum dolor sit amet   consectetur adip proident, sed diam nonum vul tell convallis in mass  v lorem id ipsum dolor sit amet   consectetur adip proident, sed diam nonum vul tell convallis in mass lorem id ipsum dolor sit amet   consectetur adip proident, sed diam nonum vul tell convallis in mass   
lorem id ipsum dolor sit amet consectetur adip proident, sed diam nonum vul tell convallis in mass  lorem id ipsum dolor sit amet   consectetur adip proident, sed diam nonum vul tell convallis in mass  lorem id ipsum dolor sit amet   consectetur adip proident, sed diam nonum vul tell convallis in mass  lorem id ipsum dolor sit amet   consectetur adip proident, sed diam nonum vul tell convallis in mass lorem id ipsum dolor sit amet   consectetur adip proident, sed diam nonum vul tell convallis in mass  v lorem id ipsum dolor sit amet   consectetur adip proident, sed diam nonum vul tell convallis in mass lorem id ipsum dolor sit amet   consectetur adip proident, sed diam nonum vul tell convallis in mass   
lorem id ipsum dolor sit amet consectetur adip proident, sed diam nonum vul tell convallis in mass  lorem id ipsum dolor sit amet   consectetur adip proident, sed diam nonum vul tell convallis in mass  lorem id ipsum dolor sit amet   consectetur adip proident, sed diam nonum vul tell convallis in mass  lorem id ipsum dolor sit amet   consectetur adip proident, sed diam nonum vul tell convallis in mass lorem id ipsum dolor sit amet   consectetur adip proident, sed diam nonum vul tell convallis in mass  v lorem id ipsum dolor sit amet   consectetur adip proident, sed diam nonum vul tell convallis in mass lorem id ipsum dolor sit amet   consectetur adip proident, sed diam nonum vul tell convallis in mass   
lorem id ipsum dolor sit amet consectetur adip proident, sed diam nonum vul tell convallis in mass  lorem id ipsum dolor sit amet   consectetur adip proident, sed diam nonum vul tell convallis in mass  lorem id ipsum dolor sit amet   consectetur adip proident, sed diam nonum vul tell convallis in mass  lorem id ipsum dolor sit amet   consectetur adip proident, sed diam nonum vul tell convallis in mass lorem id ipsum dolor sit amet   consectetur adip proident, sed diam nonum vul tell convallis in mass  v lorem id ipsum dolor sit amet   consectetur adip proident, sed diam nonum vul tell convallis in mass lorem id ipsum dolor sit amet   consectetur adip proident, sed diam nonum vul tell convallis in mass   

</p>
</div>
<br />
<% i = 1 %>
<div class="boxed">
<% 10.times do%>

    <p>Username: comments <%= i %></p>
<% i =  i + 1 %>
    <%end%>

</div>

</div>